@charset "utf-8";

@import "normalize";
@include normalize;

/* colors */
@import "base16";
$black: $base00;
$darkest-gray: $base01;
$dark-gray: $base02;
$gray: $base03;
$light-gray: $base04;
$very-light-gray: $base05;
$lightest-gray: $base06;
$white: $base07;
$red: $base08;
$orange: $base09;
$yellow: $base0A;
$green: $base0B;
$blue-green: $base0C;
$blue: $base0D;
$purple: $base0E;
$brown: $base0F;

body {
  background: $darkest-gray;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: $purple;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0;
}

.doc {
  font-size: 14px;
  margin: 0;
  &:before, &:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
  }
  a {
    color: rgba(0, 0, 0, 0.3);
    &:hover {
      color: #666;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
