@charset "utf-8";

@import "normalize";
@include normalize;

/* colors */
@import "base16";
$black: $base00;
$darkest-gray: $base01;
$dark-gray: $base02;
$gray: $base03;
$light-gray: $base04;
$lighter-gray: $base05;
$lightest-gray: $base06;
$white: $base07;
$red: $base08;
$orange: $base09;
$yellow: $base0A;
$green: $base0B;
$blue-green: $base0C;
$blue: $base0D;
$purple: $base0E;
$brown: $base0F;

* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

body, html {
  width: 100%;
  height: 100%;
  color: #ccc;
  font: 400 16px / 1.6 Proxima Nova, Helvetica Neue, Helvetica;
  background: $darkest-gray;
}

a {
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 0 0 0;
}


.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
  width: 100%;
  height: 100%;
  display: table;
  .contain {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    .content {
      width: 435px;
      padding: 50px;
      display: inline-block;
      color: $light-gray;
    }
  }
}

#header {
  margin: 0 0 30px;
  position: relative;
  float: left;
  h1 {
    color: $red;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 30px;
    padding: 3px 0 0;
  }
}

#promo {
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 64px;
  margin: 0 0 35px;
  color: $white;
  #first-name {
    font-size: 62px;
  }
  #last-name {
    font-size: 52px;
  }
}

#info {
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 35px;
}

#twitter { color: $blue; }
#tumblr { color: $blue-green; }
#github { color: $purple; }
#linkedin { color: $yellow; }
#facebook { color: $orange; }
#googleplus { color: $red; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
  }
}
